<div class="container">
  <div class="city">
    <div class="text">Select city: </div>
    <input type="text" [(ngModel)]="city" (keydown.enter)="fetchForecast()">
  </div>
  <div class="title">Forecast in {{cityTitle}}</div>
  <div class="weather-container">
    <div class="forecast" *ngFor="let item of forecast">
      <div class="cube">
        <div class="date">{{item.date}}</div>
        <div class="icon">
          <img src="{{item.icon}}" alt="">
        </div>
        <div class="temp">{{item.temp}} &#176;</div>
      </div>
    </div>
  </div>
</div>
